<div>
    <h1>Application</h1>

    <form name="myForm">
        <div class="form-group">
            <label>Application Name:</label>{client.name}
        </div>

        <!--<div class="form-group">
            <ul>
                <li ng-repeat="scope in scopes"></li>
            </ul>
        </div>-->

        <div class="form-group">
            <button ng-click="deny()" class="btn btn-danger">Deny</button>
            <button ng-click="allow()" class="btn btn-success">Allow</button>
        </div>
    </form>

    <!--<iframe src="http://localhost:10080/UserService/app/login/" width="1024" height="512" align="left"/>-->
</div>
