<div class="login">

    <form id="login-form" ng-if="!$storage.user.isLoggedIn" name="loginForm" method="post"
          ng-submit="login(credentials)" role="form" class="login-form form-horizontal" form-autofill-fix>
        <div class="row">

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                    <input id="email" type="email" name="email" ng-model="credentials.email" class="form-control"
                           placeholder="Email" required autofocus>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-lock"></span>
                    <input id="password" type="password" name="password" ng-model="credentials.password" class="form-control"
                           placeholder="Password" required>
                </div>
            </div>
            <div class="btn-group-lg">
                <button type="submit" class="btn btn-default btn-block">Log in</button>
            </div>
        </div>
    </form>
    <form ng-if="$storage.user.isLoggedIn" name="logoutForm" method="post" role="form"
          ng-submit="logout()" class="form-horizontal">
        <div class="form-group-lg">
            <span data-ng-class="{&quot;label-info&quot;: user.role.title == userRoles.user.title, &quot;label-success&quot;: user.role.title == userRoles.admin.title}"
                  class="label">{{ currentUser.role.title }}</span>

            <div class="btn-group-lg">
                <button type="submit" class="btn btn-default btn-block">Log Out</button>
            </div>
        </div>
    </form>
</div>