<div class="well well-sm">
  <a href="#" class="btn btn-success">
    <i class="fa fa-plus-circle fa-lg"></i>
    Add
  </a>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th ng-repeat="header in headers" nowrap>
      <sort-by onsort="onSort" sortdir="filterCriteria.sort_dir" sortedby="filterCriteria.sorted_by"
               sortvalue="{{header.value}}">{{header.title}}
      </sort-by>
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <input class="form-control" on-enter-blur placeholder="subject"
             on-blur-change="filterResult()" ng-model="filterCriteria.subject"></td>
    <td>
      <input class="form-control" on-enter-blur placeholder="type"
             on-blur-change="filterResult()" ng-model="filterCriteria.type">
    </td>
    <td>
      <input class="form-control" on-enter-blur placeholder="updater"
             on-blur-change="filterResult()" ng-model="filterCriteria.updated_by">
    </td>
    <td>
      <input class="form-control" on-enter-blur placeholder="creator"
             on-blur-change="filterResult()" ng-model="filterCriteria.created_by">
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr ng-repeat="item in blacklists">
    <td>{{item.subject}}</td>
    <td>{{item.type}}</td>
    <td>{{item.updated_by}}</td>
    <td>{{item.created_by}}</td>
    <td>{{item.update_date}}</td>
    <td>{{item.create_date}}</td>
    <td>
      <div class="btn-group" style="width: 100px">
        <button type="button" class="btn btn-danger btn-sm" ng-click="remove(item)">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
    </td>
  </tr>
  <tr ng-show="!blacklists || blacklists.length == 0">
    <td colspan="8">
      <div class="alert alert-info">
        Black Lists are empty
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div ng-show="totalPages > 1">
  <pagination num-pages="totalPages" ng-model="filterCriteria.page" current-page="filterCriteria.page"
              max-size="10" class="" boundary-links="true" on-select-page="selectPage(page)"></pagination>
</div>
