<div class="well well-sm">
  <a ui-sref="velocity.config.details({metric_type: 'new', mode: 'new'})" class="btn btn-success">
    <i class="fa fa-plus-circle fa-lg"></i>
    Add Velocity Metric
  </a>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th ng-repeat="header in headers" nowrap>
      <sort-by onsort="onSort" sortdir="filterCriteria.sort_dir" sortedby="filterCriteria.sorted_by"
               sortvalue="{{header.value}}">{{header.title}}
      </sort-by>
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <input class="form-control" on-enter-blur placeholder="code"
             on-blur-change="filterResult()" ng-model="filterCriteria.metric_type"></td>
    <td>

    </td>
    <td>
      <input class="form-control" on-enter-blur placeholder="updater"
             on-blur-change="filterResult()" ng-model="filterCriteria.updated_by">
    </td>
    <td>
      <input class="form-control" on-enter-blur placeholder="creator"
             on-blur-change="filterResult()" ng-model="filterCriteria.created_by">
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr ng-repeat="config in configs">
    <td><a ui-sref="velocity.config.details({metric_type: config.metric_type, mode: 'edit'})">
      {{config.metric_type}}
    </a></td>
    <td>{{config.time_to_live}}</td>
    <td>{{config.updated_by}}</td>
    <td>{{config.created_by}}</td>
    <td>{{config.update_date}}</td>
    <td>{{config.create_date}}</td>
    <td>
      <div class="btn-config" style="width: 100px">
        <a ui-sref="velocity.config.details({metric_type: config.metric_type, mode: 'edit'})"
           class="btn btn-default btn-sm">
          <i class="fa fa-pencil"></i>
        </a>
        <button type="button" class="btn btn-danger btn-sm" ng-click="remove(config)">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
    </td>
  </tr>
  <tr ng-show="!configs || configs.length == 0">
    <td colspan="8">
      <div class="alert alert-info">
        No velocity configs found
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div ng-show="totalPages > 1">
  <pagination num-pages="totalPages" ng-model="filterCriteria.page" current-page="filterCriteria.page"
              max-size="10" class="" boundary-links="true" on-select-page="selectPage(page)"></pagination>
</div>
<div class="well well-sm">
  <a ui-sref="velocity.config.details({metric_type: 'new', mode: 'new'})" class="btn btn-success">
    <i class="fa fa-plus-circle fa-lg"></i>
    Add Velocity Metric
  </a>
</div>
