<header>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li ng-class="{active: ('users' | includedByState)}">
                <a ui-sref="users.list">Users</a>
            </li>
            <!--<li ng-class="{active: ('clients' | includedByState)}">
               <a ui-sref="clients.list">Applications</a>
           </li>-->
        </ul>
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <div ng-if="!!currentUser">
                    <button type="submit" ng-click="logout()" class="btn btn-default">Log out</button>
                </div>
                <div ng-if="!currentUser">
                    <input type="email" ng-model="credentials.email" class="form-control" placeholder="Email"
                           required>
                    <input type="password" ng-model="credentials.password" class="form-control"
                           placeholder="Password"
                           required>
                    <button type="submit" ng-click="login(credentials)" class="btn btn-default">Log in</button>
                    <button type="button" ng-click="register(credentials)" class="btn btn-default">Register</button>
                </div>
            </div>
        </form>

        <div class="navbar-text navbar-right">
            <div ng-if="!!currentUser">
                <ul class="list-inline">
                    <li>{{currentUser.email}}</li>
                    <li ng-repeat="role in currentUser.roles">
                        <label class="label label-success">{{role}}</label>
                    </li>
                </ul>
            </div>
            <div ng-if="!currentUser">
                <span class="label label-default">guest</span>
            </div>
        </div>
    </nav>
</header>

<div class="tab-content">

    <div ui-view></div>
</div>