<div class="control-group"
     ng-class="{ 'has-error' : group_form.code.$invalid && !group_form.code.$pristine }">
  <label class="control-label" for="code">Group Code:</label>

  <div class="controls">
    <input id="code" name="code" type="text" class="form-control ng-pristine ng-valid"
           ng-model="group.code" ng-disabled="mode!='new'" required/>

    <p ng-show="group_form.code.$invalid && !group_form.code.$pristine" class="help-block">
      Group Code is required.
    </p>

    <p class="help-block">
      Unique identifier.
    </p>
  </div>
</div>

<div class="control-group"
     ng-class="{ 'has-error' : group_form.name.$invalid && !group_form.name.$pristine }">
  <label class="control-label" for="name">Group Name:</label>

  <div class="controls">
    <input id="name" name="name" type="text"
           class="form-control ng-pristine ng-valid"
           ng-model="group.name" required/>

    <p ng-show="group_form.name.$invalid && !group_form.name.$pristine" class="help-block">
      Group Name is required.
    </p>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="description">Description:</label>

  <div class="controls">
    <textarea id="description" name="description" class="form-control ng-pristine ng-valid"
              ng-model="group.description"></textarea>

    <p class="help-block">Human-readable text description</p>
  </div>
</div>
