<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="configBean" class="org.mitre.openid.connect.config.ConfigurationPropertiesBean">
        <property name="issuer" value="http://localhost:8080/ldap-openid-connect-server/"/>
        <property name="logoImageUrl" value="resources/images/openid_connect_small.png"/>
        <property name="topbarTitle" value="OpenID Connect Server"/>
    </bean>

    <context:component-scan base-package="ru.forxy.web.controller"/>

    <mvc:annotation-driven/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="ldapAuthProvider"/>
    </security:authentication-manager>

    <!-- LDAP -->

    <security:ldap-server url="${ldap.server}"/>

    <bean id="ldapAuthProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
        <constructor-arg>
            <bean class="org.springframework.security.ldap.authentication.BindAuthenticator">
                <constructor-arg ref="contextSource"/>
                <property name="userDnPatterns">
                    <list>
                        <value>uid={0}</value>
                    </list>
                </property>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="ru.forxy.dao.MappedLdapAuthoritiesPopulator">
                <property name="admins">
                    <set>
                        <value>v-uprykhodzka</value>
                    </set>
                </property>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="contextSource" class="org.springframework.ldap.core.support.LdapContextSource">
        <property name="url" value="${ldap.url}"/>
        <property name="base" value="${ldap.base}"/>
    </bean>

    <bean id="ldapTemplate" class="org.springframework.ldap.core.LdapTemplate">
        <constructor-arg name="contextSource" ref="contextSource"/>
    </bean>

    <bean id="ldapUserInfoRepository" primary="true" class="ru.forxy.dao.LdapUserInfoRepository">
        <property name="ldapTemplate" ref="ldapTemplate"/>
    </bean>

    <!-- end LDAP -->

    <mvc:view-controller path="/login" view-name="login"/>

    <security:http pattern="/login**" use-expressions="true" entry-point-ref="http403EntryPoint">
        <security:intercept-url pattern="/login**" access="permitAll"/>
    </security:http>

    <security:http disable-url-rewriting="true" use-expressions="true">
        <security:form-login login-page="/login" authentication-failure-url="/login?error=failure"
                             authentication-success-handler-ref="authenticationTimeStamper"/>
        <security:intercept-url pattern="/**" access="permitAll"/>
        <security:custom-filter ref="promptFilter" after="SECURITY_CONTEXT_FILTER"/>
        <security:logout logout-url="/logout"/>
        <security:anonymous/>
        <security:expression-handler ref="oauthWebExpressionHandler"/>
    </security:http>

</beans>