<div role="navigation" class="navbar navbar-fixed-top" ng-controller="LoginCtrl">
    <div class="navbar-header">
        <a title="Auth Service admin tool" ui-sref="users.list" class="navbar-brand">AuthService Admin Tool</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li ng-class="{active: ('users' | includedByState)}">
                <a ui-sref="users.list">Users</a>
            </li>
            <li ng-class="{active: ('clients' | includedByState)}">
                <a ui-sref="clients.list">Applications</a>
            </li>
            <li ng-class="{active: ('tokens' | includedByState)}">
                <a ui-sref="tokens.list">Tokens</a>
            </li>
            <!--<li>
                <div ng-controller="AuthCtrl">
                    <button ng-click="authorize()">Authorize</button>
                </div>
            </li>-->
        </ul>

        <form class="navbar-form navbar-right">
            <div class="form-group">
                <div ng-if="!!$storage.user">
                    <button type="submit" ng-click="logout()" class="btn btn-default">Log out</button>
                </div>
                <div ng-if="!$storage.user">
                    <input type="email" ng-model="credentials.email" class="form-control" placeholder="Email"
                           required>
                    <input type="password" ng-model="credentials.password" class="form-control"
                           placeholder="Password"
                           required>
                    <button type="submit" ng-click="login(credentials)" class="btn btn-default">Log in</button>
                    <button type="button" ng-click="register(credentials)" class="btn btn-default">Register</button>
                </div>
            </div>
        </form>

        <div class="navbar-text navbar-right">
            <div ng-if="!!$storage.user">
                <ul class="list-inline">
                    <li>{{$storage.user.login}}</li>
                    <li ng-repeat="role in $storage.user.roles">
                        <label class="label label-success">{{role}}</label>
                    </li>
                </ul>
            </div>
            <div ng-if="!$storage.user">
                <span class="label label-default">guest</span>
            </div>
        </div>

    </div>
</div>

<div class="wrapper container tab-content">

    <div class="row">
        <div class="col-md-2">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Users</li>
                    <li ng-class="{active: ('users.list' | includedByState)}">
                        <a ui-sref="users.list">
                            Manage Users
                        </a>
                    </li>
                    <li ng-class="{active: ('users.details' | includedByState)}">
                        <a ui-sref="users.details({email: 'new', mode: 'new'})">
                            Add User
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Manage Groups
                        </a>
                    </li>
                    <li class="divider"></li>

                    <li class="nav-header">Clients</li>
                    <li ng-class="{active: ('clients.list' | includedByState)}">
                        <a ui-sref="clients.list">
                            Manage Clients
                        </a>
                    </li>
                    <li ng-class="{active: ('clients.details' | includedByState)}">
                        <a ui-sref="clients.details({clientID: 'new', mode: 'new'})">
                            Add Client
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Manage Roles
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <!--<oauth
                    site="https://oauth-ng-server.herokuapp.com"
                    client-id="23c6ceaba56c00e940f890acc9f4c75a94991c62f5561338b6311f7026343d58"
                    redirect-uri="https://oauth-ng-demo.herokuapp.com"
                    profile-uri="https://oauth-ng-server.herokuapp.com/api/v1/me"
                    scope="public">
            </oauth>-->

            <div class="token" ng-if="accessToken">
                with access token {{accessToken}}
            </div>

            <div ui-view></div>
        </div>
    </div>
</div>