<div id="login" class="login">

    <form id="login-form" ng-show="!currentUser.isLoggedIn" name="loginForm" method="post"
          ng-submit="login(credentials)" role="form" class="form-horizontal">
        <div ng-controller="AlertCtrl">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label" for="email">Email:</label>
                </div>
                <div class="col-md-9">
                    <input id="email" type="email" name="email" ng-model="credentials.email" class="form-control"
                           placeholder="Email" ng-model-options="{updateOn: 'blur'}" auto-fill-sync required autofocus>
                    <span class="alert-danger" ng-show="loginForm.email.$invalid">Email should not be empty</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label" for="password">Password:</label>
                </div>
                <div class="col-md-9">
                    <input id="password" type="password" name="password" ng-model="credentials.password"
                           class="form-control" placeholder="Password" ng-model-options="{updateOn: 'blur'}" auto-fill-sync required>
                    <span class="alert-danger" ng-show="loginForm.password.$invalid">Password should not be empty</span>
                </div>
            </div>
            <div class="btn-group-lg">
                <button type="submit"  class="btn btn-default btn-block">Log in</button>
            </div>
        </div>
    </form>
    <form ng-show="currentUser.isLoggedIn" name="logoutForm" method="post" role="form"
          ng-submit="logout()" class="form-horizontal">
        <div class="form-group-lg">
            <span data-ng-class="{&quot;label-info&quot;: user.role.title == userRoles.user.title, &quot;label-success&quot;: user.role.title == userRoles.admin.title}"
                  class="label">{{ currentUser.role.title }}</span>

            <div class="btn-group-lg">
                <button type="submit" class="btn btn-default btn-block">Log Out</button>
            </div>
        </div>
    </form>
</div>