<div class="login">
    <form ng-show="!currentUser.isLoggedIn" name="loginForm" method="post"
          ng-submit="login(credentials)" role="form" class="form-horizontal">
        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    <h4><label for="email">Email:</label></h4>
                </div>
                <div class="col-md-9">
                    <input id="email" type="email" name="email" ng-model="credentials.email" class="form-control"
                           placeholder="Email" auto-fill-sync required autofocus>
                    <span class="alert-danger" ng-show="loginForm.email.$invalid">Email should not be empty</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <h4><label for="password">Password:</label></h4>
                </div>
                <div class="col-md-9">
                    <input id="password" type="password" name="password" ng-model="credentials.password" class="form-control"
                           placeholder="Password" auto-fill-sync required>
                    <span class="alert-danger" ng-show="loginForm.password.$invalid">Password should not be empty</span>
                </div>
            </div>
            <div class="btn-group-lg">
                <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-default btn-block">Log in</button>
            </div>
        </div>
    </form>
    <form ng-show="currentUser.isLoggedIn" name="logoutForm" method="post" role="form"
          ng-submit="logout()" class="form-horizontal">
        <div class="form-group-lg">
            <span data-ng-class="{&quot;label-info&quot;: user.role.title == userRoles.user.title, &quot;label-success&quot;: user.role.title == userRoles.admin.title}"
                  class="label">{{ currentUser.role.title }}</span>

            <div class="btn-group-lg">
                <button type="submit" class="btn btn-default btn-block">Log Out</button>
            </div>
        </div>
    </form>
</div>