<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder local-override="true" ignore-resource-not-found="true" order="2"
                                  system-properties-mode="OVERRIDE"
                                  location="file:${catalina.base}/conf/appconfig/base/ru.forxy.fraud.properties"/>
    <context:property-placeholder local-override="true" ignore-resource-not-found="true" order="1"
                                  system-properties-mode="OVERRIDE"
                                  location="file:${catalina.base}/conf/appconfig/env/${env}/ru.forxy.fraud.properties"/>

    <import resource="classpath:ru/forxy/fraud/rest-spring-context.xml"/>
    <import resource="classpath:ru/forxy/fraud/impl-spring-context.xml"/>
    <import resource="classpath:ru/forxy/fraud/dao-spring-context.xml"/>
    <import resource="classpath:ru/forxy/fraud/log-spring-context.xml"/>
</beans>