<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd"
       default-lazy-init="false">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <util:map id="jsonNamespaceMap" map-class="java.util.Hashtable">
        <entry key="http://www.example.org/users" value="u"/>
    </util:map>

    <bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.json.JSONProvider">
        <property name="namespaceMap" ref="jsonNamespaceMap"/>
    </bean>

    <!--<jaxrs:client id="restClient"
                  address="http://localhost:8080/RestService"
                  serviceClass="ru.forxy.service.IUserService">
        <jaxrs:headers>
            <entry key="Accept" value="application/json"/>
            <entry key="Content-Type" value="application/json"/>
        </jaxrs:headers>
    </jaxrs:client>

    <bean id="myWebClient" class="org.apache.cxf.jaxrs.client.WebClient"
          factory-method="create">
        <constructor-arg type="java.lang.String" value="http://localhost:8080/RestService" />
        <constructor-arg ref="jaxbProvider" />
    </bean>-->

    <bean id="userServiceClientFactory"
          class="org.apache.cxf.jaxrs.client.JAXRSClientFactoryBean">
        <property name="serviceClass" value="ru.forxy.service.IUserService"/>
        <property name="address" value="http://localhost:8080/RestService"/>
        <property name="provider" ref="jaxbProvider"/>
    </bean>

    <bean id="userServiceClient"
          class="ru.forxy.service.IUserService"
          factory-bean="userServiceClientFactory"
          factory-method="create"/>

</beans>