<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:httpj="http://cxf.apache.org/transports/http-jetty/configuration"
       xmlns:sec="http://cxf.apache.org/configuration/security"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans                http://www.springframework.org/schema/beans/spring-beans.xsd
         http://cxf.apache.org/jaxrs                                http://cxf.apache.org/schemas/jaxrs.xsd
         http://cxf.apache.org/transports/http-jetty/configuration  http://cxf.apache.org/schemas/configuration/http-jetty.xsd
         http://cxf.apache.org/configuration/security               http://cxf.apache.org/schemas/configuration/security.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-xml.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <httpj:engine-factory id="port-9095-crypto-config" bus="cxf">
        <httpj:engine port="9095">
            <httpj:tlsServerParameters>
                <sec:keyManagers keyPassword="Pa55w0rd4CryprtoService">
                    <sec:keyStore type="JKS" password="Pa55w0rd4CryprtoService"
                                  resource="cryptoService.jks"/>
                </sec:keyManagers>
                <sec:trustManagers>
                    <sec:keyStore type="JKS" password="Pa55w0rd4CryprtoService"
                                  resource="cryptoServiceTrustStore.jks"/>
                </sec:trustManagers>
                <sec:cipherSuitesFilter>
                    <sec:include>.*_EXPORT_.*</sec:include>
                    <sec:include>.*_EXPORT1024_.*</sec:include>
                    <sec:include>.*_WITH_DES_.*</sec:include>
                    <sec:include>.*_WITH_AES_.*</sec:include>
                    <sec:include>.*_WITH_NULL_.*</sec:include>
                    <sec:exclude>.*_DH_anon_.*</sec:exclude>
                </sec:cipherSuitesFilter>
                <sec:clientAuthentication want="true" required="true"/>
            </httpj:tlsServerParameters>
        </httpj:engine>
    </httpj:engine-factory>

    <jaxrs:server name="cryptoService" address="/" depends-on="port-9095-crypto-config">
        <jaxrs:serviceBeans>
            <ref bean="cryptoServiceImpl"/>
        </jaxrs:serviceBeans>
    </jaxrs:server>

    <bean id="cryptoServiceImpl" class="ru.forxy.service.CryptoServiceImpl"/>

</beans>