<table class="table table-striped">
  <thead>
  <tr>
    <th>Metric Type</th>
    <th>Metric Value</th>
    <th>Related Metric</th>
    <th>Create Date</th>
    <th>Data Value</th>
    <th>Expires In</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="metric in data_list">
    <td>{{metric.key.id.metric_type}}</td>
    <td>{{metric.key.id.metric_value}}</td>
    <td>{{metric.key.related_metric_type}}</td>
    <td>{{metric.key.create_date}}</td>
    <td>{{metric.related_metric_value}}</td>
    <td>{{expiresIn(metric.key.create_date, metric.key.id.metric_type)}}</td>
  </tr>
  <tr ng-show="!data_list || data_list.length == 0">
    <td colspan="5">
      <div class="alert alert-info">
        There is no any velocity data yet
      </div>
    </td>
  </tr>
  </tbody>
</table>
