<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:httpj="http://cxf.apache.org/transports/http-jetty/configuration"
       xmlns:sec="http://cxf.apache.org/configuration/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans                http://www.springframework.org/schema/beans/spring-beans.xsd
         http://cxf.apache.org/jaxrs                                http://cxf.apache.org/schemas/jaxrs.xsd
         http://cxf.apache.org/transports/http-jetty/configuration  http://cxf.apache.org/schemas/configuration/http-jetty.xsd
         http://cxf.apache.org/configuration/security               http://cxf.apache.org/schemas/configuration/security.xsd
         http://www.springframework.org/schema/context              http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder local-override="true" ignore-resource-not-found="true" order="2" system-properties-mode="OVERRIDE"
                                  location="file:${catalina.base}/conf/appconfig/base/ru.forxy.crypto.properties"/>
    <context:property-placeholder local-override="true" ignore-resource-not-found="true" order="1" system-properties-mode="OVERRIDE"
                                  location="file:${catalina.base}/conf/appconfig/env/${env}/ru.forxy.crypto.properties"/>

    <import resource="classpath:META-INF/cxf/cxf.xml"/>

    <httpj:engine-factory id="port-9090-crypto-config" bus="cxf">
        <httpj:engine port="9090">
            <httpj:tlsServerParameters>
                <sec:keyManagers keyPassword="${ru.forxy.crypto.SSLConfig/keyStorePassword}">
                    <sec:keyStore type="${ru.forxy.crypto.SSLConfig/keyStoreType}" password="${ru.forxy.crypto.SSLConfig/keyStorePassword}"
                                  file="${ru.forxy.crypto.SSLConfig/keyStoreFile}"/>
                </sec:keyManagers>
                <sec:trustManagers>
                    <sec:keyStore type="${ru.forxy.crypto.SSLConfig/trustStoreType}" password="${ru.forxy.crypto.SSLConfig/trustStorePassword}"
                                  file="${ru.forxy.crypto.SSLConfig/trustStoreFile}"/>
                </sec:trustManagers>
                <sec:cipherSuitesFilter>
                    <sec:include>.*_EXPORT_.*</sec:include>
                    <sec:include>.*_EXPORT1024_.*</sec:include>
                    <sec:include>.*_WITH_DES_.*</sec:include>
                    <sec:include>.*_WITH_AES_.*</sec:include>
                    <sec:include>.*_WITH_NULL_.*</sec:include>
                    <sec:exclude>.*_DH_anon_.*</sec:exclude>
                </sec:cipherSuitesFilter>
                <sec:clientAuthentication want="true" required="true"/>
            </httpj:tlsServerParameters>
        </httpj:engine>
    </httpj:engine-factory>

    <jaxrs:server address="/v1" depends-on="port-9090-crypto-config">
        <jaxrs:serviceBeans>
            <ref bean="cryptoServiceImpl"/>
        </jaxrs:serviceBeans>
    </jaxrs:server>

    <bean id="cryptoServiceImpl" class="ru.forxy.service.CryptoServiceImpl">
        <constructor-arg name="password" value="${ru.forxy.service.CryptoServiceImpl/password}"/>
    </bean>

</beans>