<!doctype html>
<html lang="en" ng-app="authServiceAdmin">
<head>
    <meta charset="utf-8">
    <title>Forxy</title>
    <link rel="stylesheet" href="/AuthService/css/app.css">
    <base href="/AuthService/app"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>

<div ng-controller="AlertCtrl" class="alert-list" ng-show="!!alerts">
    <alert class="alert-pupup" ng-repeat="(key,val) in alerts track by $index" type="{{key}}" close="closeAlert(key)">
        <div ng-repeat="msg in val track by $index">{{msg}}</div>
    </alert>
</div>

<div ng-controller="MainCtrl">

    <div class="tab-content">
        <div ui-view></div>
    </div>
</div>

<script src="webjars/jquery/1.11.1/jquery.js"></script>
<script src="webjars/bootstrap/3.2.0/js/bootstrap.js"></script>
<script src="webjars/angularjs/1.3.0-beta.18/angular.js"></script>
<script src="webjars/angularjs/1.3.0-beta.18/angular-touch.js"></script>
<script src="webjars/angularjs/1.3.0-beta.18/angular-route.js"></script>
<script src="webjars/angularjs/1.3.0-beta.18/angular-resource.js"></script>
<script src="webjars/angularjs/1.3.0-beta.18/angular-animate.js"></script>
<script src="webjars/angularjs/1.3.0-beta.18/angular-cookies.js"></script>
<script src="webjars/angularjs/1.3.0-beta.18/angular-loader.js"></script>
<script src="webjars/angularjs/1.3.0-beta.18/angular-sanitize.js"></script>
<script src="webjars/angularjs/1.3.0-beta.18/i18n/angular-locale_en-us.js"></script>
<script src="webjars/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
<script src="webjars/lodash/2.4.1/lodash.min.js"></script>
<script src="webjars/lodash/2.4.1/lodash.compat.js"></script>
<script src="webjars/lodash/2.4.1/lodash.underscore.js"></script>
<script src="webjars/restangular/1.4.0/restangular.js"></script>
<script src="webjars/ngStorage/0.3.0/ngStorage.js"></script>
<script src="webjars/angular-ui-router/0.2.10/angular-ui-router.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/common.js"></script>
<script src="js/controllers/user.js"></script>
<script src="js/controllers/client.js"></script>
<script src="js/controllers/group.js"></script>
<script src="js/controllers/token.js"></script>
<script src="js/services.js"></script>
<script src="js/directives.js"></script>
<script src="js/filters.js"></script>
<script src="js/routingConfig.js"></script>
<script src="js/support/base64.js"></script>
</body>
</html>
