<div class="well well-lg">
  <form class="form-horizontal">
    <div class="control-group" ng-repeat="velocity_config in configs">
      <label class="control-label" for="{{velocity_config.metric_type}}">{{velocity_config.metric_type}}</label>

      <div class="controls">
        <input id="{{velocity_config.metric_type}}" name="{{velocity_config.metric_type}}"
               type="text" class="form-control ng-pristine"
               ng-model="test_data[velocity_config.metric_type]"/>
      </div>
    </div>
    <button class="btn btn-small btn-success" ng-click="check()">
      <i class="fa fa-magic fa-lg icon-white"></i>
      Check velocity
    </button>
  </form>
</div>
<table class="table table-striped" ng-show="!!metrics && metrics.length > 0">
  <thead>
  <tr>
    <th>Metric Type</th>
    <th>Metric Value</th>
    <th>Related Metric</th>
    <th>Aggregation Type</th>
    <th>Aggregated Value</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="metric in metrics">
    <td>{{metric.key.id.metric_type}}</td>
    <td>{{metric.key.id.metric_value}}</td>
    <td>{{metric.key.related_metric_type}}</td>
    <td>{{metric.key.aggregation_type}}</td>
    <td>{{metric.aggregated_value}}</td>
  </tr>
  <tr ng-show="!metrics || metrics.length == 0">
    <td colspan="5">
      <div class="alert alert-info">
        There are no any metrics yet
      </div>
    </td>
  </tr>
  </tbody>
</table>
