@import "bootstrap/bootstrap.less";
@import "variables.less";

p {
  margin: 20px 0;
}

body {

  .wrapper {

    .navbar a {
      text-transform: uppercase;
    }

    .submenu {
      li {
        a {
          text-transform: uppercase;
        }
      }
    }
  }
}