<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="file:${catalina.base}/conf/UserService/appconfig/base/ru.forxy.user.properties"/>
    <context:property-placeholder local-override="true" ignore-unresolvable="true" ignore-resource-not-found="true" order="-1"
                                  system-properties-mode="OVERRIDE"
                                  location="file:${catalina.base}/conf/UserService/appconfig/env/${env}/ru.forxy.user.properties"/>

    <import resource="classpath:spring/rest-spring-context.xml"/>
    <import resource="classpath:spring/soap-spring-context.xml"/>
    <import resource="classpath:spring/impl-spring-context.xml"/>
    <import resource="classpath:spring/dao-spring-context.xml"/>
    <import resource="classpath:spring/log-spring-context.xml"/>
</beans>