<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:ignoreResourceNotFound="true"
          p:nullValue="{null}">
        <property name="locations">
            <list>
                <value>file:${catalina.base}/conf/appconfig/base/ru.forxy.fraud.properties</value>
                <value>file:${catalina.base}/conf/appconfig/env/${env}/ru.forxy.fraud.properties</value>
            </list>
        </property>
    </bean>

    <import resource="classpath:spring/rest-spring-context.xml"/>
    <import resource="classpath:spring/drools-spring-context.xml"/>
    <import resource="classpath:spring/impl-spring-context.xml"/>
    <import resource="classpath:spring/dao-spring-context.xml"/>
    <import resource="classpath:spring/log-spring-context.xml"/>

</beans>